<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="User" type="swan.model.User" />
	</typeAliases>
	<plugins>
		<plugin interceptor="org.swan.shard.mybatis.interceptor.PagePolicyInterceptor"/>
		<plugin interceptor="org.swan.shard.mybatis.interceptor.ShardingPolicyInterceptor">
			<property name="table.name" value="table_name"/>
		</plugin>
	</plugins>
	<mappers>
		<mapper resource="mapper/UserMapper.xml"/>
	</mappers>
</configuration>
			